body {
  font-family: 'Roboto', sans-serif; }


h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px; }

p {
  font-size: 18px;
  color: #999999;
  line-height: 1.8;
  margin-bottom: 0;
  font-weight: 400; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.containerForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.carousel-item p {
  color: #ffffff;
}

.topMargin-xs {
  margin-top: 15px; }

.topMargin-sm {
  margin-top: 30px; }

.topMargin-lg {
  margin-top: 60px; }

.navbar {
  background-color: #222831;
  min-height: 100px; }

.nav-link {
  color: #ffffff; }

.nav-link:hover {
  color: #ffffff; }

.logo-brand {
  min-width: 240px;
  max-width: 260px; }

.navbar-toggler {
  font-size: 40px;
  color: #ffffff; }

.navbar-toggler:focus {
  outline: none; }

.contentCenter {
  max-width: 800px;
  margin: 20px auto 60px auto;
  text-align: center; }

.bordesRedondeados {
  border-radius: 4%; }

.containerCards .card {
  text-align: center;
  margin: 14px;
  border:grey solid 1px}

.btn-primary {
  background-color: #24303c; }

.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;}

.listInline {
  padding-top: 10px; }

.listInlineItem {
  display: inline;
  padding: 7px; }

.listInlineItem a:hover {
  text-decoration: none; }

.listInlineIcons {
  font-size: 30px; }

#footer {
  padding: 80px 0;
  text-align: center;
  color: #ffffff; }
  #footer li {
    list-style-type: none; }
    #footer li a {
      color: #ffffff; }

/*galeria de imagenes*/
#galeria .col-lg-4 {
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 300px; }

#galeria img:hover {
  border: 5px solid #fff; }

/*formulario*/
form {
  color: white;
  background-color: #222831;
  width: 500px;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px; }
  form input {
    width: 95%;
    background: #24303c;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: all 0.5s; }
  form textarea {
    width: 100%;
    height: 180px;
    border-radius: 4px; }
  form h1 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center; }

form input:focus {
  width: 100%;
  font-size: 22px; }

label {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px; }


select {
  background-color: #222831;
  color: #fff;
  border-radius: 4px;
  border-color: #fff;
  font-size: 16px;
  margin-bottom: 8px; }

.botonFormulario {
  display: inline;
  width: 45%;
  background: #086972;
  border: none;
  padding: 8px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 12px;
  transition: 0.5s; }

.botonFormulario:hover {
  width: 48%;
  background: #31aaaa;
  font-size: 19px; }

/*contenido paises*/
#canada {
  background-image: url("../images/canada1.jpg"); }

#eeuu {
  background-image: url("../images/eeuu1.jpg"); }

#inglaterra {
  background-image: url("../images/inglaterra2.jpg"); }

.tituloPais {
  background-size: cover;
  padding-top: 90px;
  margin-bottom: 20px;
  min-height: 500px;
  color: #222831; }

.parrafoPaises {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 30px;
  text-align: center; }

.imagenPais {
  width: 680px;
  height: 400px;
  margin-bottom: 20px;
}

.imagenPais img {
  width: 100%;
  height: 100%; 
  align-items: center}

.container .parrafoPaises {
  font-weight: 300; }

  .carouselImage {
    width: 100%;
    height: 720px;
  }

@media (max-width: 575.98px) {
  h1 {
    font-size: 30px;
    line-height: none; }

  .carousel-inner {
    max-height: 360px;}
  .carouselImage {
    height: 360px;
  }
  }

/*@media (min-width: 576px) and (max-width: 767.98px) { ... }

@media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }*/
